<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Work</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body class="fullpage">
    <!-- NAV starts -->
    <nav class="navspacecontainer">
      <div class="navspace">
        <div class="nav-line"></div>
        <div>
          <a href="{{ url_for('indexPage.home') }}">HOME</a>
        </div>
        <div class="copyright">© | 2024</div>
      </div>
    </nav>
    <!-- BODY OF STUDY CASE starts -->
    <section>
      <div class="StudycaseTitleSection">
        <h1>Albert-Coaching</h1>
        <h4>
          This page contains the case study of Albert-coaching website which
          includes the Project Overview, Tools Used and Live Links to the
          official product.
        </h4>
      </div>
    </section>
  </body>
</html>
