<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NurVIX</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body class="fullpage sandbackground">
    <!-- NAV starts -->
    <header class="navspace navspace.dark">
      <div class="nav-line"></div>
      <div>
        <a href="https://www.linkedin.com/in/karinnarocha/" target="_blank"
          >LI</a
        >
      </div>
      <div>
        <a href="https://github.com/karinnarocha" target="_blank">GH</a>
      </div>
      <div>
        <a href="https://x.com/_nurvix" target="_blank">TW</a>
      </div>
      <div class="copyright">© | 2024</div>
    </header>
    <section>
      <a href="https://www.twitch.tv/nurvix" class="nurvixHeader hidden"
        >NurV<span class="adaptI">|</span>X</a
      >
      <div class="karinnaHeader" id="karinnaHeader">Karinna Rocha</div>
      <div class="developerHeader animationfading">
        <div>Software Developer</div>
      </div>
    </section>

    <section class="Menu-link hidden">
      <div>
        <a href="{{ url_for('workPage.workpage') }}">Work</a>
      </div>
      <div>
        <a href="{{ url_for('aboutPage.aboutpage') }}">About</a>
      </div>
      <div>
        <a href="{{ url_for('contactPage.contact') }}">Contact</a>
      </div>
    </section>

    <!-- Footer -->
    <footer></footer>
  </body>
</html>

<script>
  // JAVASCRIPT FOR SCROLLING AND ANIMATION ON WEB IMAGES
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });

  const hiddenElements = document.querySelectorAll(".hidden");
  hiddenElements.forEach((el) => observer.observe(el));

  function typeWriter(element, text, delay = 100) {
    let index = 0;
    function addLetter() {
      if (index < text.length) {
        element.textContent += text.charAt(index);
        index++;
        setTimeout(() => requestAnimationFrame(addLetter), delay);
      }
    }
    addLetter();
  }

  window.onload = function () {
    const karinnaHeader = document.getElementById("karinnaHeader");

    // Clear initial content
    karinnaHeader.textContent = "";

    // Start typing animations with different delays
    typeWriter(karinnaHeader, "Karinna Rocha", 100);
  };
</script>
