<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Work</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body id="bodyWork" class="fullpage">
    <!-- NAV starts -->
    <div class="navspace">
      <div class="nav-line"></div>
      <div class="TWicon">
        <a href="{{ url_for('indexPage.home') }}">HOME</a>
      </div>
      <div class="copyright">© | 2024</div>
    </div>
    <!-- TITLE starts -->
    <section class="ExpertiseSession ">
      <div class="experienceTitle hidden">My Expertise</div>
      <div class="divisionExper hidden">
        <div class="expertisetitle">Back-end Development</div>
        <div class="expertisecontent">
          Experience in Python backend Development using Flask and Django
          Frameworks.
        </div>
        <div class="expertisetitle">Front-end Design</div>
        <div class="expertisecontent">
          Passionate about design in general, experience on HTML, JavaScript,
          and CSS.
        </div>
        <div class="expertisetitle">Mobile App</div>
        <div class="expertisecontent">
          Hybrid mobile apps are my way to go on Flutterflow framework or React
          Native.
        </div>
      </div>
    </section>
    <!-- WORK MENU starts -->
    <section class="WorkTitlesSession">
      <div class="divisionWork">
        <div class="myWork">
          <div>My work</div>
        </div>
        <div class="vertical-line fadein"></div>
        <div class="Worklist">
          <a class="workTitle" data-scroll="nurvix">NURVIX</a><br />
          <span>Web development</span><br />
          <a class="workTitle" data-scroll="signup">SIGN UP</a><br />
          <span>Web Development</span><br />
          <a class="workTitle" data-scroll="fitness">FITNESS</a><br />
          <span>Web Development</span><br />
          <a class="workTitle" data-scroll="aibeans">AIBEANS</a><br />
          <span>Mobile Development</span><br />
          <a class="workTitle" data-scroll="jiujitsu">JIU-JITSU</a><br />
          <span>Photography</span>
        </div>
      </div>
    </section>
    <!-- WEBSITED TEMPLATES STARTS HERE -->
    <section class="ImageSession">
      <div class="experienceTitle ">Web Development</div>
      <section class="divisionTemplates">
        <img
          src="{{ url_for('static', filename='uploads/nurvixLaptop.png') }}"
          alt="NurVIX Page"
          class="imageWebsiteLeft hiddenIMAGES"
        />
        <div class="descriptionswebsites hidden">
          <span class="project-title">NurVIX</span>
          <br />
          <span class="project-details"> One of my first websites I ever built, with the goal of practicing my skills on coding and actually it not come out that bad.
          </span>
        </div>
      </section>
      <div class="projectSPECS">
        Specs: Python (Flask), HTML, CSS | Deployed: Godaddy
        <br><br><a href="https://nurvix.live" target="_blank">
          <button class="button w-button" type="button">Website</button>
      </a>
      <section class="divisionTemplates opositflex">
        <div class="descriptionswebsites hidden">
          <span class="project-title">Danielly's Fitness</span>
          <br/> 
          <span class="project-details"> This is my project I am most proud of, just project I had the oportunity to be my first comercial team based where the client was a winner nominated to Sonoma business Awards </span>
        </div>
        <img
          src="{{ url_for('static', filename='uploads/daniellyLaptop.png') }}"
          alt="Fitness Page"
          class="imageWebsiteRight hiddenIMAGES-right"
        /></section>
        <div class="projectSPECS">Specs: PHP, HTML, CSS | Deployed: Wordpress
        <br><br><a href="https://daniellysfitness.com" target="_blank">
          <button class="button w-button" type="button">Website</button>
      </a>
      <section class="divisionTemplates">
        <img
          src="{{ url_for('static', filename='uploads/Mercy Laptop.png') }}"
          alt="Sign Up Page"
          class="imageWebsiteLeft hiddenIMAGES"
        />
        <div class="descriptionswebsites hidden">
            <span class="project-title">Sign Up Registration</span>
            <br />
            <span class="project-details"> Managed a team of 10 developers, A streamlined, secure, and user-friendly sign-in system designed for efficient authentication and easy user management for a course registration of 40 courses . 
            </span>
          </p>
        </div>
      </section>
      <div class="projectSPECS">Specs: Python(Django), HTML, CSS | 
        Database: SQLite Built in</div>
    </section>
    <!-- MOBILE APP TEMPLATE STARS HERE -->
    <section class="mobileappSession" data-section="aibeans">
      <div class="experienceTitle">Mobile Application</div>
      <div class="AppSession">
        <video class="VideoAIBeans" loop autoplay muted>
          <source
            src="{{ url_for('static', filename='uploads/AIBEANS.mov') }}"
            type="video/mp4"
          />
        </video>
        <div class="AIBeansbox hidden">
          <div class="AIBeansdescription ">
            <p>
              <span>AIBeans - Full Stack</span><br /><br />
              <span>
                Specs:<br />
                Python, React Native
              </span>
              <br />Deployed: <br />Heroku, Apple Store <br />(Test Mode)
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- PHOTOSHOOT STARTS HERE -->
    <section
      class="PhotographySession animate-on-scroll"
      data-section="jiujitsu"
    >
      <div class="experienceTitle">Photography</div>
      <div class="photographygalery">Coming soon!</div>
    </section>
  </body>
</html>

<script>
  // JAVASCRIPT FOR SCROLLING AND ANIMATION ON WEB IMAGES
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });

  const hiddenElements = document.querySelectorAll(
    ".hidden, .hiddenIMAGES, .hiddenIMAGES-right "
  );
  hiddenElements.forEach((el) => observer.observe(el));
</script>
