
/* --------------- FONTS ------------- */

@font-face {
    font-family: FiraCode;
    src: url(fonts/FiraCode-SemiBold.ttf);
}
@font-face {
    font-family: GreatVibes;
    src: url(fonts/GreatVibes-Regular.ttf);
}
/* ------------ GLOBAL -------- */
body{
    margin: 0px;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover {
    font-style: italic;
}   
a:visited {
    color: inherit; /* Same as your regular link color */
    text-decoration: none;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    margin: 0 auto; /* Center the form contents horizontally */
}
input[type="email"],
input[type="text"],
textarea {
    border-radius: 15px; 
    padding: 10px; 
    border: 1px solid #ccc;
    font-size: 16px; /* Font size */
    margin-bottom: 15px; 
    height: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
/*-------------- NAV--------------*/
.navspace {
    height: 80px;
    width: 100%;
    justify-content: right;
    align-items: center;
    display: flex;
    float: right;
    padding-right: 30px;
    font-family: FiraCode;
    font-size: 20px;
    color: #44413c;
    gap: 20px;
}

#bodyWork .navspace {
    color: rgb(206, 205, 205);
}

.nav-line {
    width: 250px;
    height: 2px;
    background-color: rgb(63, 60, 56);
    align-items: center;
}

#bodyWork .nav-line {
    background-color: rgb(206, 205, 205);
}

/*------------- BODY------------*/


.sandbackground {
    background: url('./uploads/sand-water.avif') no-repeat center center fixed;
    background-size: cover;
}

#bodyWork.fullpage {
    background: rgb(65, 61, 56);
}
#bodyAIBeans.fullpage{
    background: rgb(212, 199, 183);
}

/* --------INDEX PAGE -----------*/



.nurvixHeader {
    color: rgb(228, 227, 226);
    width: 100%;
    text-shadow: rgb(65, 61, 56)1px 0 10px;;
    font-family: GreatVibes;
    text-align: center;
    font-size: 200px;
    padding-left: 7%;
    padding-top: 10%;
    opacity: 0.7;
    position: relative;
    top: 200px;
}

.nurvixHeader:visited{
    color: rgb(228, 227, 226);
}
.adaptI{
    font-size: 95px;
}

.karinnaHeader {
    width: 100%;
    padding-top: 20px;
    color: rgb(65, 61, 56);
    text-shadow: rgb(228, 227, 226) 1px 0 10px;
    text-align: center;
    font-weight: lighter;
    font-size: 210px;
    font-family: FiraCode;
    position: relative;
}
.developerHeader{
    width: 100%;
    font-size: 40px;
    color: #44413c;
    text-shadow: rgb(228, 227, 226) 1px 0 5px;
    font-family: FiraCode;
	padding-top: 130px;
    text-align: center;
}

.Menu-link{
    font-size: 70px;
    font-weight: 600;
    color: #44413c;
    text-shadow: rgb(228, 227, 226) 1px 0 5px;
    font-family: FiraCode;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    padding-top: 10%; 
    padding-bottom: 150px; 
}


/*--------------- WORK PAGE ---------------*/
.ExpertiseSession{
    padding-top: 16%;
    padding-bottom: 20%;
}
.divisionExper{
    width: 100%;
    justify-content: center;
    text-align: center;
}
.experienceTitle{
    width: 100%;
    font-size: 100px;
    color: rgb(228, 227, 226);
    text-shadow: rgb(95, 93, 91) 2px 2px 8px;
    font-family: GreatVibes;
    padding-bottom: 10%;
    text-align: center;
}
.WorkTitlesSession{
    padding-top: 20%;
    padding-bottom: 20%;
    background-color: #fff;
}
.divisionWork{
    width: 100%;
    flex-direction: row;
    display: flex;
}
.myWork{
    width: 100%;
    font-size: 70px;
    color: rgb(136, 136, 136);
    font-family: GreatVibes;
    text-align: end;
    align-self: center;
    padding-right: 40px;
}
.workTitle{
    width: 100%;
    font-size: 100px;
    color: rgb(136, 136, 136);
    font-family: FiraCode;
    font-weight: bold;
}
.expertisetitle{
    padding: 60px 80px 30px 80px;
    color: rgb(228, 227, 226);
    font-family: FiraCode;
    font-weight: bold;
    font-size: 25px;

}
.expertisecontent{
    color:rgb(228, 227, 226);
    font-family: FiraCode;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
.opositflex{
    display: flex;
}
.Worklist{
    width: 100%;
    color: rgb(136, 136, 136);
    font-family: FiraCode;
    font-size: 20px;
    padding: 10px;
    text-align: left;
}
.vertical-line {
    width: 6px;
    background-color: rgb(136, 136, 136);
    margin: 0 20px;
  }

.ImageSession{
    padding-top: 20%;
    padding-bottom: 20%;
}
.descriptionswebsites{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.divisionTemplates{
    display: flex;
    flex-direction: row;
    padding-top: 10%;
    padding-bottom: 10%;
}
.project-title {
    font-size: 80px; 
    font-weight: bold; 
    padding-bottom: 10%;
    font-family: FiraCode;
    color:#fff;
    padding-left: 30px;
  }
  
.project-details {
    align-self: center;
    font-family: FiraCode;
    color:#fff;
    font-size: 30px;
    position: relative;
    text-align: center;
  }
.projectSPECS{
    text-align: center;
    color:#fff;
    font-size: 25px;
    font-family: FiraCode;
}
  
.project-details a {
color: #1e90ff; 
text-decoration: none;
}

.project-details a:hover {
text-decoration: underline; 
}

/*FOTOS STYLING*/

.imageWebsiteRight{
    width: 50%;
    left: 170px;
}
.imageWebsiteLeft{
    width: 50%;
}

.mobileappSession{
    padding-top: 20%;
    padding-bottom: 20%;
    background: url(./uploads/beachfood.avif) no-repeat right  center;
    background-size: cover;
}


/*VIDEO STYLING*/
.VideoAIBeans{
    height: 700px;
}
.AppSession{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    justify-content: space-evenly;
}
.AIBeansbox{
    background-color:rgb(136, 136, 136);
    opacity: 1;
    border-radius: 70px;
    height: 100%;
    align-self: center;

}
.AIBeansdescription{
    font-family: FiraCode;
    font-size: 30px;
    color:#fff;
    padding: 30px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    
}
.PhotographySession{
    padding-top: 20%;
    padding-bottom: 20%;

}
.photographygalery{
    font-family: GreatVibes;
    font-size: 30px;
    color:#fff;
    padding: 30px;
    text-align: center;
}

/*---------------ABOUT PAGE -----------------*/

.Abouttitle{
    font-size: 200px;
    float: left;
    font-family: GreatVibes;
    color: rgb(228, 227, 226);
    padding-top: 200px;
    position: absolute;
    text-align: center;
}
.division{
    flex: auto;
    padding-top: 250px;
}
.photoadjust{
    padding-left:300px;
}

.AboutSubtitle {
    padding: 30px;
    font-size:40px;
    font-family: FiraCode;
    color: rgb(228, 227, 226);
}
.selfDescription{
    font-family:FiraCode;
    font-size: 16px;
    color: rgb(228, 227, 226);
    padding-top: 50px;
    text-align: center;
    margin: 10%;
    width: 100%s;

}
.skillsdescription{
    width: 50%;
    font-family:FiraCode;
    font-size: 16px;
    font-weight: light;
    color: rgb(228, 227, 226);
    padding-top: 50px;
    padding-left: 10%;
    float: left;
    display: block;
}

.subTitles{
    font-size:40px;
    font-family: FiraCode;
    padding-top: 50px;
    padding-left: 100px;
}
.divSubTitles{
    display: flex;
    flex-direction: column;
    float: left;
    text-align: left;
    color: rgb(228, 227, 226);
}
.buttonbox{
    padding-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}
.button {
    background-color: #fff ;
    letter-spacing: 1px;
    border-radius: 50px;
    font-family: FiraCode;
    font-size: 24px;
    font-weight: 400;
    transition: background-color 0.3s;
}
.w-button {
    color: #44413c;
    border: 0;
    padding: 9px 15px;
}
.button:hover{
    background-color: #44413c;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/*-------------CONTACT ME--------------*/
.ContactTitle {
    display: flex;
    justify-content: left;
    font-size: 150px;
    font-family: GreatVibes;
    padding-top: 10%;
    padding-bottom: 8%;
    padding-left: 15%;
    color: rgb(63, 60, 56);
}
.ContactContent{
    width: 100%;
    font-family: FiraCode;
    font-size: 20px;
    padding-bottom: 80px;
    color: rgb(63, 60, 56);
    text-align: center;
}
.contactForm {
    font-family: FiraCode;
    font-size: 30px;
    width: 500px;
    color: rgb(63, 60, 56);
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    margin: 0 auto; /* Center the form horizontally */
}
.messagebox{
    height: 200px;
}
/*---------------FOOTER-----------------*/




/*---------------ANIMATIONS -----------*/

/* Initial state for elements to ON JAVASCRIPT */
.hidden {
    opacity: 0;
    transition: all 3s;
    filter: blur(5px);
}
.hiddenIMAGES-right {
    opacity: 0;
    transform: translateX(100%);
    transition: all 3s;
  }
.show {
    opacity: 1 !important;
    filter: blur(0) !important;
    transform: translateX(0) !important;
  }
/* Initial state for elements to ON JAVASCRIPT images*/
.hiddenIMAGES {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 3s  ;
    }

.fadein {
    animation: fadein 3s ease-in-out forwards;
}

/* WORK */
.slideRight {
    animation: slideInRight 2s forwards;
}
.animated-textOpposite {
    animation: slideInOpposite 5s forwards;
}
/* WORK ANIMATION, SCROW FROM THE SIDES  */
.imageOffScreen {
    opacity: 0;
    transform: translateY(50px); 
    transition: all 0.5s ease-out;
}

.imageInView {
    opacity: 1;
    transform: translateY(0);
}


.animationfading {
    animation: FadeIn 1s ease-in-out forwards;
}
.animated-textUp{
    display: inline-block;
    white-space: nowrap;
    animation: slideUp 1s ease-in-out forwards;
}
   


/* Animation definitions */



/*--------------MEDIA RESIZING --------------*/
@media only screen and (max-width: 1200px) {
    .nurvixHeader {
        font-size: 180px;
        left: -150px;
    }
    .karinnaHeader {
        font-size: 200px;
    }
    .project-title {
    font-size: 50px; 
  }
  .project-details{
    font-size: 15px;
  }
}

@media only screen and (max-width: 992px) {
    .session-Right {
        float: none;
        text-align: center;
		float: right;
    }

    .nurvixHeader {
        font-size: 150px;
        left: -100px;
    }
    .karinnaHeader {
        font-size: 170px;
    }
}

@media only screen and (max-width: 768px) {
    .session-Right {
        text-align: center;
        align-items: center;
		float: right;
    }
	.session-left {
        text-align: center;
        align-items: center;
    }
    .nurvixHeader {
        font-size: 100px;
        top: 120px;
        left: -50px;
    }
    .karinnaHeader {
        font-size: 120px;
    }
    .Menu-link {
        font-size: 40px;
        flex-direction: column;
        padding-top: 150px;
        gap: 10%;

    }
    .divisionWork{
        flex-direction: column;
    }
    .myWork{
        text-align: center;
        justify-content: center;
    }
    .AppSession{
        flex-direction: column;
        row-gap: 100px; 
    }
}

@media only screen and (max-width: 576px) {
    .session-Right {
        font-size: 100px;
        float: none;
        text-align: center;
		float: right;
    }
	.session-left {
        float: none;
        text-align: center;
    }
    .nurvixHeader {
        font-size: 100px;
        left: -40px;
    }
    .karinnaHeader {
        font-size: 120px;
    }
    .divisionWork{
        flex-direction: column;
    }
    .AppSession{
        flex-direction: column;
        row-gap: 100px; 
    }
    
}
@media only screen and (max-width: 430px) {
    /* --------------- nav ------------- */
    .nav-line{
        width: 100px;
        height: 2px;
    }
    .navspace{
        gap:10px;
    }
    /* --------------- index ------------- */
    
    .nurvixHeader {
        font-size: 60px;
        top: 180px;
        padding-left: 50px;
    }
    .adaptI{
        font-size: 50px;
    }
    .karinnaHeader {
        font-size: 75px;
        padding-top: 120px;
        font-family: FiraCode;
        font-weight: 6;
    }
    .developerHeader {
        font-size: 30px;
        text-align: center;
        padding-top: 30px;
    }
    .Menu-link {
        text-align: start;
        font-size: 60px;
        flex-direction: column;
        width: max-content;
        padding-left: 30px;
        padding-top: 50px; 
    }
/* --------------- work page ------------- */
    .experienceTitle{
        padding-top: 50px;
        font-size: 50px;
    }
    
    .divisionExper {
        flex-direction: column;
    }

    .divisionWork{
        flex-direction: column;
    }
    .expertisetitle{
        font-size: 20px;
    }
    .expertisecontent{
        font-size: 15px;
    }
    .AppSession{
        flex-direction: column;
        row-gap: 100px; 
    }
    .workTitle{
        font-size: 60px;
    }
    .myWork{
        text-align: center;
        justify-content: center;
    }
    .projectSPECS{
        font-size: 10px;
    }
    .project-details{
        font-size: 10px;
        justify-items: center;
        width: 100%;
        padding-bottom: 20px;
    }
    .mobileappSession{
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .AIBeansdescription {
        font-size: 20px;
    }
    .divisionTemplates{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .opositflex{
        display:block;
    }
    .descriptionswebsites{
        width: 100%;
    }
    .imageWebsiteLeft{
        width: 100%;
    }
    .imageWebsiteRight{
        width: 100%;
    }
/* --------------- about page ------------- */
.photoadjust{
    padding-left:5px;
    margin: 0 auto;
}
.Abouttitle{
    font-size: 180px;
}
/* --------------- contact page ------------- */
.ContactTitle {
    font-size: 80px;
    padding-top: 150px;
    padding-bottom: 80px;
    font-family: GreatVibes;
}
.ContactContent{
    font-size: 15px;
}
.contactForm{
    font-size:20px;
    width: 300px;

}
}
